:root {
  /* Color */
  --clr-blk: #000000;
  --clr-pink: #f87171;
  --clr-blue: #4b4efc;

  /* Font Family */
  --ff-sans: 'Montserrat', sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* General             */
/* ------------------- */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.grid {
  display: grid;
}
.top-4 {
  margin-top: 4em;
}
.top-2 {
  margin-top: 2em;
}

.top-1 {
  margin-top: 1em;
}

.container {
  font-family: var(--ff-sans);
}

/* Fonts */
.ff-sans {
  font-family: var(--ff-sans);
}

.fs-500 {
  font-weight: 500;
}
.fs-400 {
  font-weight: 400;
}
.fs-600 {
  font-weight: 600;
}

/* Text Color */
.text-blue {
  color: #4b4efc;
}

.text-black {
  color: #000000;
}

.text-pink {
  color: #f87171;
}

.bg-white {
  background-color: white;
}
/* ------------------- */
/* Other               */
/* ------------------- */

.button {
  border: black 4px solid;
  font-weight: 600;
  margin-inline: 10px;
  margin-top: 8px;
  font-family: var(--ff-sans);
  text-decoration: none;
}

.button:hover {
  background-color: #f87171;
  color: #000000;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.icon {
  width: 64px;
}

.nav-item:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #f87171;
}

.heading-wrap {
  margin-top: 2em;
  margin-bottom: 11em;
}

.heading {
  text-align: center;
  font-size: 5.25em;
}

.love-icon {
  width: 3.5em;
  position: relative;
  left: 75%;
}

.one-third {
  width: 33%;
}

.gallery-img {
  border-radius: 8px;
  padding: 4px 0;
  max-height: 480px;
  filter: brightness(0.75); /* Default brightness */
  transition: filter 0.3s ease;
}

.gallery-img:hover {
  filter: brightness(1); /* Increase the value for more brightness on hover */
}

.gallery-img-stand {
  border-radius: 8px;
  padding: 4px 0;
  height: 100%;
}

.about-wrap {
  margin: 1em 0;
}

.container-gallery {
  margin-top: 124px;
}

.profile-pic {
  width: 310px;
  border: black solid 4px;
  float: right;
  text-align: center;
}

.project-pic-right {
  width: 400px;
  border: black solid 4px;
  float: right;
}

.project-pic-left {
  width: 400px;
  border: black solid 4px;
  float: left;
}

.resume {
  font-size: 24px;
  height: 2em;
  width: 8em;
  text-align: center;
  color: gray;
  padding: 4px;
  margin: auto 0 0;
}

.mail-icon {
  width: 24px;
  display: inline-block;
  position: relative;
  bottom: 2px;
}

.mail-button {
  font-size: 22px;
  height: 2em;
  width: 8em;
  text-align: center;
  color: gray;
  padding: 8px;
  margin: auto 0 0;
}

.footer {
  margin: 6em 0 2em 0;
}

.visit-work {
  align-self: flex-end;
  font-size: 20px;
  height: 2em;
  width: 8em;
  text-align: center;
  color: gray;
  padding: 5px 10px;
  margin: 0;
}

.profile-description {
  display: grid;
  text-align: center;
  align-items: end;
  margin: 1em 0;
}

.aside {
  padding: 2em;
}

.main-title {
  padding: 1em;
}

.content {
  display: flex;
}

#contact-section {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 2em;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.showcase:nth-child(2) {
  transition-delay: 200ms;
}

.showcase:nth-child(3) {
  transition-delay: 400ms;
}

.showcase:nth-child(4) {
  transition-delay: 500ms;
}

/* Animation */

.animation-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}

.greeting {
  position: relative;
  top: 12vmin;
  animation: white-out 5s infinite;
}

.closure::after {
  content: '';
  position: absolute;
  height: 26vmin;
  width: 55vmin;
  background: white;
  transform: translate(-60vmin, -26.5vmin);
}

.closure::before {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 55vmin;
  background: white;
  transform: translate(-50vmin, 8vmin);
}

.en {
  color: #fa8231;
}

.es {
  color: var(--clr-blue);
}

.de {
  color: #c678dd;
}

.it {
  color: #a9b0bd;
}

@keyframes move {
  25% {
    transform: translatey(-8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-16vmin);
  }
  75% {
    transform: translatey(-24.5vmin);
  }
}

.job-desc {
  text-align: center;
  padding: 24px;
}

.job-desc img {
  margin: auto;
  width: 48px;
}

/* For Mobile */

@media screen and (max-width: 700px) {
  .heading {
    font-size: 32px;
  }

  .animation-container {
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 48px;
  }

  .heading-wrap {
    margin: 2em 0 2em;
  }

  .love-icon {
    width: 28px;
  }

  .about-left {
    order: 2;
    text-align: center;
  }

  .content {
    display: grid;
  }

  .gallery {
    display: grid;
  }

  .profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    float: none;
  }

  .about-heading,
  .bio {
    margin-top: 1em;
  }

  .resume {
    position: relative;
    top: 16px;
    font-size: 22px;
  }

  .about-right {
    order: 1;
  }

  .resume {
    margin: auto;
  }

  .navbar-brand {
    width: 48px;
  }

  .mail-button {
    font-size: 22px;
  }

  .description {
    order: 2;
    font-size: 12px;
    text-align: left;
  }

  h3 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  .project-pic {
    order: 1;
  }

  .visit-work {
    font-size: 14px;
  }
}

/* @media screen and (max-width: 960px) {
  .heading {
    font-size: 42px;
  }

  .content {
    display: grid;
  }

  .love-icon {
    width: 28px;
    position: relative;
    left: 600px;
  }

  .about-heading,
  .bio,
  .resume {
    margin-top: 1em;
  }

  .profile-pic {
    width: 700px;
  }
} */
