:root {
  /* Color */
  --clr-blk: #000000;
  --clr-pink: #f87171;
  --clr-blue: #4b4efc;

  /* Font Family */
  --ff-sans: 'Montserrat', sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* General             */
/* ------------------- */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.grid {
  display: grid;
}
.top-4 {
  margin-top: 4em;
}
.top-2 {
  margin-top: 2em;
}

.top-1 {
  margin-top: 1em;
}

.container {
  margin-inline: auto;
  max-width: 80rem;
  font-family: var(--ff-sans);
  padding: 0 64px;
}

/* Fonts */
.ff-sans {
  font-family: var(--ff-sans);
}

.fs-500 {
  font-weight: 500;
}
.fs-400 {
  font-weight: 400;
}
.fs-600 {
  font-weight: 600;
}

/* Text Color */
.text-blue {
  color: #4b4efc;
}

.text-black {
  color: #000000;
}

.text-pink {
  color: #f87171;
}

.bg-white {
  background-color: white;
}
/* ------------------- */
/* Other               */
/* ------------------- */

.button {
  border: black 4px solid;
  font-weight: 600;
  margin-inline: 10px;
  margin-top: 8px;
  font-family: var(--ff-sans);
  text-decoration: none;
}

.button:hover {
  background-color: #f87171;
  color: #000000;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.icon {
  width: 64px;
}

.nav-item:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #f87171;
}

.heading-wrap {
  margin-top: 2em;
  margin-bottom: 6em;
}

.heading {
  text-align: center;
  font-size: 5.25em;
}

.about-left {
  row-gap: 0;
}

.love-icon {
  width: 3.5em;
  position: relative;
  left: 75%;
}

.about-wrap {
  margin: 3em 0;
}

.profile-pic {
  width: 310px;
  border: black solid 4px;
  float: right;
  text-align: center;
}

.project-pic-right {
  width: 310px;
  border: black solid 4px;
  float: right;
}

.project-pic-left {
  width: 310px;
  border: black solid 4px;
  float: left;
}

.resume {
  font-size: 24px;
  height: 2em;
  width: 8em;
  text-align: center;
  color: gray;
  padding: 4px;
  margin: auto 0 0;
}

.mail-icon {
  width: 24px;
  display: inline-block;
  position: relative;
  bottom: 2px;
}

.mail-button {
  font-size: 22px;
  height: 2em;
  width: 8em;
  text-align: center;
  color: gray;
  padding: 8px;
  margin: auto 0 0;
}

.footer {
  margin: 6em 0 2em 0;
}

.visit-work {
  align-self: flex-end;
  font-size: 20px;
  height: 2em;
  width: 8em;
  text-align: center;
  color: gray;
  padding: 5px 10px;
  margin: 10px 0;
}

/* For Mobile */

@media screen and (max-width: 576px) {
  .heading {
    font-size: 36px;
  }

  .love-icon {
    width: 28px;
    position: relative;
    left: 400px;
  }

  .about-left {
    order: 2;
    text-align: center;
  }

  .profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    float: none;
  }

  .about-heading,
  .bio {
    margin-top: 1em;
  }

  .resume {
    position: relative;
    top: 16px;
    font-size: 22px;
  }

  .about-right {
    order: 1;
  }

  .resume {
    margin: auto;
  }

  .navbar-brand {
    width: 48px;
  }

  .mail-button {
    font-size: 22px;
  }

  .description {
    order: 2;
    font-size: 12px;
    text-align: left;
  }

  h3 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  .project-pic {
    order: 1;
  }
}

@media (min-width: 576px) and (max-width: 960px) {
  .heading {
    font-size: 42px;
  }

  .love-icon {
    width: 28px;
    position: relative;
    left: 600px;
  }

  .about-heading,
  .bio,
  .resume {
    margin-top: 1em;
  }

  .about-right {
    display: flex;
    align-items: center;
  }

  .profile-pic {
    width: 700px;
  }
}
